/*@font-face {
    font-family: "DIN Pro Medium";
    src: url(fonts/DINProMedium.otf);
}

@font-face {
    font-family: "DIN Pro Bold";
    src: url(fonts/DINProBold.otf);
}

@font-face {
    font-family: "DIN Pro Black";
    src: url(fonts/DINProBlack.otf);
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root{
    --main-bg: #7700FF;
    --second-bg: #FF4F11;

    --font-regular: "Regular";
    --font-bold: "Medium";
    --font-black: "Black";

    --fw-regular: 400;
    --fw-bold: 500;
    --fw-black: 900;

    --heading: 32px;
    --sub-heading: 36px;
    --big-heading: 64px;
    --very-big-heading: 96px;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0 auto;
    color: #fff;
    max-width: 1000px;
    overflow-x: hidden;
    font-family: 'Roboto';
}

.first__screen{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 75px 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

.first__screen-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.small__title{
    font-size: var(--big-heading);
    font-family: var(--font-regular);
    font-weight: 400;
}

.game__name{
    font-size: 48px;
    font-family: var(--font-regular);
    font-weight: 900;
}

.play__btn{
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-bold);
    transition: ease 0.3s;
    margin-top: 25px;
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: var(--second-bg);
    padding: 5px 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}

.play__btn:hover{
    box-shadow: 0 0 10px #ff6026;
}

.robo{
    max-width: 600px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.pattern__block{
    z-index: -1;
    background-color: var(--main-bg);
    position: absolute;
    right: 0;
    top: -10;
    height: 200%;
    width: 50%;
    transform: rotate(19deg) translateX(30%);
    -webkit-transform: rotate(19deg) translateX(30%);
    -moz-transform: rotate(19deg) translateX(30%);
    -ms-transform: rotate(19deg) translateX(30%);
    -o-transform: rotate(19deg) translateX(30%);
}

.first__screen-content{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: space-between;
}